.user-message{
    background-color: rgba(102, 102, 102, 0.918);
    color: black;
    width: 100%;
    display: flex;
    border-radius: 10px;
    .user-foto{
        background-color: #e6e6e6;
        width: 15%;
        padding: 7px;
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        margin: 1px;
        img{
            border-radius: 50%;
        }
        
    }
    .message-info{
        //border-radius: inherit;
        width: 85%;
        padding-left: 20px;
        padding-top: 20px;
        background-color: #e6e6e6;
        margin: 1px;
        #name{
            font-weight: bold;
            margin-bottom: 3px;
        }
        #preview-message{
            color: black;
        }
        &:hover{
            border-top-right-radius: inherit;
            border-bottom-right-radius: inherit;    
            background-color: #5d5e6175;
            cursor: pointer;
        }
    }

    :hover{
        color: #e6e6e6;
    }
}