.servicios-gestor{
    max-width: 1200px;
    margin: auto;
    min-height: 100vh;
    background-color: red;
    margin-bottom: 40px;
    .menu-servicios{
        //width: 10rem;
        //background-color: aquamarine;
        border-bottom: 1px solid rgba(82, 78, 78, 0.377);
        button{
            font-size: 1.2rem;
            width: 15rem;
            cursor: pointer;
            &:hover{
                background-color: rgb(189, 189, 189);;
            }
        }
    }
}