.input-x{
    margin-top: 15px;

    .clear-input{
        position: relative;
        top: 23px;
    }
    
    label{
        font-size: 1rem;
    }
    input{
        border-style: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.788);
        width: 20rem;
        height: 2rem;
        font-size: 1.1rem;
        
        &:hover{
            background-color: rgba(173, 169, 169, 0.178);
        }
        &:active{
            //border-style: none;
        }
        &:focus{
            background-color: rgba(173, 169, 169, 0.178);;
            //border-style: none;
            outline: none;
        }
    }
}