.container-gestor{
    //display: grid;
    //background-color: red;
    //height: 90vh;
}

.body-gestor{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .header{
        font-size: 3em;
        text-align: center;
    }

    .right-grid{
        margin-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
        height: auto;
    }

    .left-grid{
        height: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }

    /* .version{
        color: blue;
        margin-top: 10%;
        font-size: 1em;
    } */
}

.post-section{
    margin: auto;
    //background-color: blue;
    //background-color: #0E1111;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    .post-header-1{
        margin-bottom: 60px;    
    }

    /* .postSpace{
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    
        .centerSpace{
            grid-column: 2;
            background-color: #E6E6E6;
            border-radius: 1em;
        }
    }    */ 
}


