.formulario-main{
    max-width: 1200px;
    margin: auto;
    .menu-formulario{
        width: 100%;
        //background-color: red;
        button{
            cursor: pointer;
            font-size: 1.2rem;
            width: 150px;
        }
    }
}

.container-formulario{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    margin: 10px;
    //background-color: red;
}

.container-seccion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 10px;
}