.container-empleado{
    display: grid;
    max-width: 1200px;
    margin: auto;
    .infoNegocio-empleado{
        grid-row: 1;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
       
    }

    .infoArea{
        margin-top: 2%;
        grid-row: 2;
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        font-size: 2em;
        

        .areas{
            margin-top: 20px;
            min-height: 70px;
            padding: 15px;
            background-color:  rgba(128, 128, 128, 0.377);
            box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.31);
            box-shadow: 10px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            grid-template-columns: repeat(8, 1fr);
            gap: 5px;
        }
    }

   /*  .inputArea{
        grid-row: 3;
        margin-top: 2%;
        padding-left: 10%;
        padding-right: 10%;

        input{
            width: 100%;
            padding-left: 1em;
            font-size: 1em;
        }
    } */

    .infoEmpleado{
        margin-top: 20px;
        max-width: 1200px;
        margin: auto;
        width: 100%;
        display: flex;
        align-items: center;
        //background-color: blue;
        justify-content: space-around;
        //display: grid;
        //grid-template-columns: 1fr 1fr;
        //grid-row: 4;

        .left-grid-empleado{
            width: 33rem;
            //grid-column: 1;
            //background-color: red;
            //padding-left: 10%;
            //padding-right: 10%;
            //height: 50%;
    
            .gestores{
                font-size: 2em;
                margin-top: 5%;
                margin-bottom: 5%;
            }
        }
    
        .right-grid-empleado{
            width: 30rem;
            //grid-column: 2;
            //margin-top: 5%;
            //height: auto;
            //padding-left: 10%;
            //padding-right: 10%;
        }
    }
}

.button1{
    display: block;
    margin-top: 5%;
    border: none;
    border-radius: 1vw;
    font-size: 1em;
    font-weight: bold;

    width: 15rem;
    height: 2.5rem;
    background-color: #6495ED;
    color: white;
}