.container-chart-text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 136, 0, 0.356);
   
    #titulo{
        font-size: 1.6rem;
        text-align: center;
    }
}