.container-color-pregunta{
    display: flex;
    align-items: center;
    width: 90%;
    //background-color: red;
    .container-color{
        background-color: #F16482;
        width: 5px;
        height: 100px;
    }


    .container-pregunta{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 10px;
        border-radius: 20px;
        max-width: 1200px;
        margin-bottom: 25px;
        background-color: #F6F6FA;
        border-left: 10px solid #F16482;
    
        .pregunta{
            margin: 10px;
            #numero{
                background-color: aliceblue;
            }
        }
    
        .opcion{
            display: flex;
            margin: 0px 0px 5px 10px;
    
            span{
                margin-left: 2px;
            }
        }
    }
}