.container-grafica-categoria{
    display: flex;
    width: 100%;
    min-height: 60vh;
    flex-wrap: wrap;
    justify-content: center;


    .grafica-categoria{
        width: 40%;
        margin: 10px;
    }
}