.contenedorInfo{
    width: 100%;
    font-family: "San Seriff";

    .nombreNegocio{
        //font-weight: 500;
        padding-right: 50%;
        font-size: 2.7rem;
        margin-bottom: 5%;
    }
}

.camposInfo{
    width: 100%;
    .input-title{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    input.input{
        //margin: 3px 5px;
    }
    .input{
        font-size: 1.1rem;
        width: 100%;
        display: block;
        margin-top: 4px;
        margin-bottom: 25px;
        
    }
}