.item{
    border-radius: 1em;
    background: #4299E1;

    font-style: normal;
    font-weight: bolder;
    
    .text-tem{
        display: flex;
        align-items: center;
        text-align: center;
        color: #F5F5F5;
    }
}