.item{
    padding-left: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1em;
    background: #4299E1;
    cursor: pointer;
    width: 100%;

    font-style: normal;
    font-weight: bolder;

    :hover{
        opacity: 0.8;
    }
    
    .text-item{
        display: flex;
        align-items: center;
        text-align: center;
        color: #F5F5F5;
    }
}

.hidden-box{
    margin: 0.2em;
    max-height: 0px;
    width: 100%;
    background: #E6E6E6;
    transition: max-height 0.2s;
    border-radius: 1em;

    span{
        display: none;
    }
}

.item:hover + .hidden-box{
    max-height: 100%;
    span{
        display: block;
        padding-left: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}