.item-admin{
    padding-left: 10%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 40px;
    background: #4299E1;
    cursor: pointer;
    width: 100%;
    font-size: 1.4rem;
    font-style: normal;
    //font-weight: bolder;
    display: flex;
    margin-top: 0.3rem;
    

    &:hover{
        opacity: 0.8;
    }
    
    .text-item{
        display: flex;
        align-items: center;
        text-align: center;
        color: #F5F5F5;
    }

    .list-number{
        margin-right: 10px;
        padding: 4px 7px;
        color: white;
        background-color: #eb224d;
        text-align: center;
        border-radius: 50%;
        font-size: 1.1rem;
    }
}

.hidden-box{
    margin: 0.2em;
    max-height: 0px;
    width: 100%;
    background: #E6E6E6;
    transition: max-height 0.2s;
    border-radius: 1em;

    span{
        display: none;
    }
}

.item-admin:hover + .hidden-box{
    max-height: 100%;
    span{
        display: block;
        padding-left: 15%;
        padding-top: 1%;
        padding-bottom: 1%;
    }
}