.container-instrucciones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    max-width: 1200px;

    span{
        margin: 10px 0px 10px;
    }

    .listaOrdenada{
        list-style-type: decimal;
        list-style-position: inside;
    }
}

.container-form-program{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    max-width: 1200px;

    .input-date{
        display: flex;
        flex-wrap: wrap;

        span{
            margin-right: 10px;
        }

        input{
            max-width: 300px;
        }
    }
}

.container-clock-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    img{
        width: auto;
        height: 300px;
    }
}