
.navigation{
    //background-color: gray;
    width: 100%;
    //height: 10vh;
    height: 3.8rem;
    display: flex;
    //align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgb(211, 205, 205);
    

    .nav-bar{
        display: flex;
        //background-color: blue;
        //width: 100%;
        .icon{
            margin-left: 1rem;
            margin-right: 1rem;
            font-size: 2.6rem;
            font-weight: bold;
            a{
                //color: black;
                color:#1e86db;
                text-decoration: none;
            }
        }
        .link{
            color: black;
        }
        ul{
            li{
                text-transform: uppercase;
                cursor: pointer;
                //background-color: red;
                font-size: 1.3rem;
                margin: 10px;
                margin-top: 15px;
                margin-left: 25px;
                font-weight: 500;
                height: 2.8rem;
                display: inline-block;
                //padding: 0 0.5rem;
                color: black;
                &:hover{
                    //border-bottom: 4px solid #FF4742;
                    //color: #FF4742;
                    color: #eb224d;
                    border-bottom: 4px solid #eb224d;
                }
            }
            
        }
    }

    .user-btn{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        //background-color: rgba(255, 0, 0, 0.589);
        background-color: #1e86db;
        color: white;
        padding: 0px 20px;
        border-radius: 40px;
        height: 40px;
        border: 0px solid black;

        &:hover{
            //background-color: rgba(0, 0, 0, 0.205);
            cursor: pointer;
            background-color: #eb224d;
        }
        p{
            font-size: 1.3rem;
            padding-right: 10px;
        }
        img{
            width: 30px;
            height: auto;
        }
    }

    .user-options{
        display: block;
        position: absolute;
        width: 12rem;
        height: 4rem;
        margin-top: 10px;
        border-radius: 10px;
        background-color: rgba(128, 128, 128, 0.219);
        ul{
            margin: 10px auto;
            width: 100%;
            //background-color: red;
            li{
                &:hover{
                    background-color: #4299E1;
                    color: white;
                }
                cursor: pointer;
                padding-left: 20px;
                list-style-type: none;
                display: flex;
                padding-top: 7px;
                padding-bottom: 7px;
                img{
                    
                    margin-right: 10px;
                    width: 20px;
                    height: auto;
                }
            }
        }
    }
    .user-options-no{
        display: none;
    }

}

.btns{
    //background-color: red;
    margin-right: 1rem;
    display: flex;
    //align-items: center;
}

