.list{
    height: 100%;
    border-radius: 10px;
    border: 1px solid;
    overflow-y: scroll;
}

div[name="blueItem"]{
    background-color: #4299E1;
}

div[name="whiteItem"]{
    background-color: #F5F5F5;
}