.list{
    max-height: 100%;
    min-height: 15rem;
    //border-radius: 30px;
    border: 1px solid rgba(128, 128, 128, 0.589);
    overflow-y: scroll;
    margin-top: 40px;
}

div[name="blueItem"]{
    background-color: #4299E1;
}

div[name="whiteItem"]{
    background-color: #F5F5F5;
}