.login-component{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

.login-form{
    top: 10%;
    left: 5%;
    position: absolute;
    display: inline-block;
    //flex-wrap: wrap;
    width: 30%;
    height: auto;
    background-color: white;
    font-family: "Century Gothic";
    border-radius: 1vw;

    div[name="div-headers"]{
        position: relative;
        display: block;
        margin-left: 10%;
        text-align: left;
        width: 70%;
        height: min-content;
        
        h1{
            position: relative;
            font-size: 2vw;
            margin-bottom: 1%;
            margin-top: 5%;
        }
    
        h2{
            font-size: 1vw;
        }
    }

    div[name="div-form"]{
        position: relative;
        display: block;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        display: inline-block;

        span{
            display: block;
        }

        input{
            font-family: "Century Gothic";
            font-size: 1vw;
            display: block;
            margin: 1% 0 5%;
            width: 90%;
            border-radius: 1vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border-width: 1px;
            border-style: dotted;
        }

        button{
            display: block;
            margin-top: 5%;
            width: 100%;
            border: none;
            border-radius: 1vw;
            font-size: 0.8vw;
            font-weight: bold;
        }
    }

    div[name="div-signup"]{
        display: block;
        position: relative;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 5%;
        
        span{
            margin-right: 1%;
            display: inline-block;
        }

        a{
            display: inline-block;
        }
    }

    a{
        display: block;
        color: #4299E1;
        text-decoration: underline;
    }

    form{
        a{
            color: #6495ED;
        }
        button{
            cursor: pointer;
            a{
                color: white;
                text-decoration: none;
                font-size: 1rem;
                
            }
            a:hover{
                
            }
            &:hover{
                background-color:#eb224d ;
            }
        }
    }

    input{
        width: 15rem;
        height: 2rem;
        margin: 1rem 1rem;
    }
    button{
        width: 15rem;
        height: 2.5rem;
        background-color: #6495ED;
        color: white;
    }
}

.elipseText{
    position: relative;
    display: inline-block;
    -moz-border-radius: 1000% 0% 0% 100%;
    -webkit-border-radius: 1000% 0% 0% 100%;
    border-radius: 1000% 0% 00% 100%;
    width: 40vw;
    height: 60vh;
    left: 60vw;
    top: 40vh;
    background: linear-gradient(151.68deg, rgba(161, 245, 220, 0.2) 35.5%, rgba(0, 0, 0, 0) 82.49%), linear-gradient(203.88deg, #67A2B5 14.14%, rgba(96, 44, 129, 0.629604) 65.2%, rgba(147, 101, 176, 0.54) 77.55%);

    span{
        display: block;
        position: relative;
        top: 20%;
        white-space: nowrap;
        padding: 0% 2%;
        font-family: 'Century Gothic';
        font-style: normal;
        font-size: 2.9vw;
        font-weight: 700;
        line-height: 1.5em;
        text-align: right;
    }
    
    span[name="span-white"]{
        color: #FFFBFB;
    }

    span[name="span-yellow"]{
        color: #F8FFCB;
    }
}

.login-footer{
    position: absolute;
    width: 90vw;
    height: 15vh;
    top: 85vh;
    left: 5vw;
    background-color: #FFFFFF;

    p{
        position: relative;
        font-family: "Century Gothic";
        font-size: 0.8vw;
        text-align: justify;
        width: 50%;
        height: 30%;
        top: 20%;
        padding-left: 3em;
    }
}

.error{
    color: red;
}