.container-resultados{
    display: flex;
    min-height: 90vh;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;

    .res-title{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        background-color: #E6E6E6;
        padding: 5px;
    }

    .recomendaciones{
        font-size: 1.2rem;
        margin: 30px;
        max-width: 1200px;

        h2{
            margin-bottom: 20px;
        }

        ul{
            font-size: 1.5rem;
        }
    }
}