.confi{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.perfil{
    background-color: rgba(84, 153, 255, 0.479);
    width: 22rem;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    #admin{
        font-size: 1.8rem;
        margin-bottom: 15px;
        //background-color: blue;
        border-bottom: 3px solid #F16482;
    }
    #name{
        margin-top: 15px;
        font-size: 1.8rem;
    }
    .edit-btn{
        margin-top: 40px;
        font-size: 1rem;
        background-color: #4299E1;
        border-style: none;
        width: 10rem;
        height: 3.1rem;
        color: white;
        border-radius: 30px;
        &:hover{
            background-color: #4299e1b9;
            cursor: pointer;
        }
    }
    figure, img{
        border-radius: 50%;
    }
}

.form{
    background-color: #F6F6FA;
    width: 75%;
    //height: 500px;
    padding: 30px 40px;
    .title-line{
        width: 5rem;
        height: 0.2rem;
        background-color: #F16482;
    }
    #title1{
        font-size: 2.8rem;
    }
    #title2{
        margin-top: 5px;
        font-size: 1.5rem;
    }
    .form-fields{
        background-color: rgba(128, 128, 128, 0.247);
        width: 100%;
        padding: 50px 30px;
        //height: 200px;
       /*  display: flex;
        flex-wrap: wrap; */
        margin-top: 30px;
        label{
            margin-top: 20px;
            font-size: 1.2rem;
        }
        input{
            width: 26rem;
            height: 2rem;
            border-radius: 5px;
            border-style: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.37);
            font-size: 1.1rem;
            padding: 15px;
           
            &:focus{
                border-style: none;
            }
        }
        .one-line-fields1{
            //background-color: blue;
            width: 26rem;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .one-line-fields2{
            //background-color: blue;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
        }
        #celular{
            width: 12rem;
        }
        #tel-casa{
            width: 12rem;
        }
    }

    .btn-formulario{
        //background-color: red;
        margin-top: 50px;
        display: flex;
        justify-content: flex-end;
        button{
            background-color: #4299E1;
            color: white;
            width: 150px;
            height: 40px;
            border-style: none;
            border-radius: 10px;
            font-size: 1rem;
            &:hover{
                background-color: #eb224d;
                cursor: pointer;
            }
        }
        
    }
}