.navigation1{
    background-color:  rgba(24, 3, 63, 0.151);
    width: 80%;
    border-radius: 10px;
    margin: auto;
    ul{
        margin: auto;
       /*  background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        li{
            margin-right: 15px;
            /* background-color: blue; */
            text-transform: capitalize;
            color: #252525;
            font-size: 1.2rem;
            padding: 15px;
            list-style-type: none;
            &:hover{
                color: #003cff;
                cursor: pointer;
            }
        }
        #test{
            display: flex;
            align-items: center;
            background-color: #1E88E5;
            border-radius: 20px;
            height: 10px;
            &:hover{
                color: white;
            }
        }
    }
}